* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* 공통 스타일 */
li {
  list-style-type: none;
}
.common-title {
  font: var(--text-title-3);
  color: #2d2d2d;
  text-align: center;
  margin-bottom: 24px;
  @media screen and (min-width: 786px) {
    font: var(--text-title-1);
    margin-bottom: 48px;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-top: 40px;
  margin-bottom: 64px;
  @media screen and (min-width: 786px) {
    margin-top: 60px;
  }
}

/* 0. 헤더 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
  z-index: 300;
  @media screen and (min-width: 786px) {
    height: 60px;
  }
}
.header-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-logo-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}
.header-logo-image {
  height: 20px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
}
.header-nav-link {
  color: #2d2d2d;
  font: var(--text-heading-3);
  text-decoration: none;
}
.header-nav-mobile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-nav-button {
  width: 24px;
  height: 24px;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

/* 1. 인트로 */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 64px auto 64px auto;
  @media screen and (min-width: 786px) {
    gap: 32px;
    margin: 116px auto 116px auto;
  }
}
.intro-main {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 786px) {
    flex-direction: row;
    gap: 36px;
  }
}
.intro-logo {
  display: block;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: -0.072px;
  color: transparent;
  background: linear-gradient(260deg, #5ffbf1, #86a8e7, #d16ba5);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 100%;
  background-position-x: 0%;
  animation: gradient 3000ms ease infinite;
  @media screen and (min-width: 786px) {
    font-size: 88px;
    letter-spacing: -0.088px;
  }
}
.intro-message {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.intro-title {
  font: var(--text-title-3);
  color: #1d1d1d;
  @media screen and (min-width: 786px) {
    font: var(--text-title-1);
  }
}
.intro-title-dot {
  position: relative;
}
.intro-title-dot::before {
  content: '';
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background-color: #5ffbf1;
  @media screen and (min-width: 786px) {
    top: -8px;
    width: 6px;
    height: 6px;
  }
}
.intro-desc {
  font: var(--text-heading-3);
  color: #555555;
  @media screen and (min-width: 786px) {
    font: var(--text-title-3);
  }
}
.intro-desc-blue {
  color: #86a8e7;
}
.intro-desc-red {
  color: #d16ba5;
}
.intro-inquiry-button {
  padding: 8px 24px;
  border-radius: 8px;
  border: 0;
  outline: 0;
  font: var(--text-body-3);
  color: #ffffff;
  background: linear-gradient(260deg, #5ffbf1, #86a8e7, #d16ba5);
  background-size: 200% 100%;
  background-position-x: 0%;
  animation: gradient 3000ms ease infinite;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  @media screen and (min-width: 786px) {
    font: var(--text-heading-3);
  }
}
.intro-inquiry-button:hover {
  color: #1d1d1d;
}

@keyframes gradient {
  0% {
    background-position-x: 0%;
  }
  50% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}

/* 2. 서비스 소개 */
.service {
}
.service-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: 786px) {
    gap: 32px;
  }
}
.service-item {
  @media screen and (min-width: 786px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.service-item:nth-child(even) {
  @media screen and (min-width: 786px) {
    flex-direction: row-reverse;
  }
}
.service-cover {
  width: 100%;
  aspect-ratio: 4/3;
  margin-bottom: 16px;
  border-radius: 8px;
  overflow: hidden;
}
.service-cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  filter: brightness(1);
  transition: all 200ms ease-in-out;
}
.service-cover-image:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
}
.service-message {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2d2d2d;
}
.service-title {
  font: var(--text-heading-3);
  @media screen and (min-width: 786px) {
    font: var(--text-title-2);
  }
}
.service-desc {
  font: var(--text-body-1);
}

/* 3. 포트폴리오 */
.portfolio {
}
.portfolio-list {
  display: flex;
  gap: 20px;
  @media screen and (min-width: 786px) {
    gap: 0;
  }
}
.portfolio-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 4/3;
  text-decoration: none;
  color: #fff;
  overflow: hidden;
  @media screen and (min-width: 786px) {
    margin-bottom: 24px;
  }
}
.portfolio-item-text {
  font: var(--text-heading-2);
  z-index: 2;
}
.portfolio-item-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(70%);
  scale: 1;
  transition: all 200ms ease-in-out;
}
.portfolio-item:hover .portfolio-item-cover {
  scale: 1.05;
  filter: brightness(90%);
}

/* 4. 플랜 */
.plan {
}
.plan-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @media screen and (min-width: 992px) {
    flex-direction: row;
    gap: 0;
  }
}
.plan-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 360px;
  margin: 0 auto;
  background-color: #f8f8f8;
}
.plan-title {
  padding: 7% 8% 0 8%;
  font: var(--text-heading-1);
  color: #555555;
}
.plan-desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 8% 7% calc(8% + 8px);
}
.plan-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font: var(--text-body-1);
  color: #717171;
  white-space: nowrap;
}
.plan-text-bold {
  font-weight: 700;
}
.plan-icon {
  margin-right: 8px;
}

/* 0. 푸터 */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background-color: rgba(134, 168, 231, 0.25);
  @media screen and (min-width: 992px) {
    height: 96px;
  }
}
.footer-copyright {
  font: var(--text-body-1);
  color: #717171;
}

/* 0-1. 모바일 메뉴창 (by. 헤더) */
.modal-menu {
  position: fixed;
  top: -9999px;
  right: -9999px;
  padding: 4px 0;
  border-radius: 8px;
  background-color: #ffffff;
  z-index: 600;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out, transform 200ms ease-in-out;
}
.modal-menu.is-open {
  top: 48px;
  right: 20px;
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}
.modal-menu-list {
}
.modal-menu-item {
  width: 160px;
  height: 48px;
}
.modal-menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font: var(--text-body-2);
  color: #555555;
  text-decoration: none;
  background-color: transparent;
  transition: all 200ms ease-in-out;
}
.modal-menu-link:hover {
  background-color: rgba(134, 168, 231, 0.15);
}

/* 백그라운드 (창 열릴 때) */
.backdrop.is-open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 500;
}
